.modal-header {
	background-color: #ebefe3;
}

button, input, label, h5, h1 {
	font-family: museo-sans, sans-serif;
	color: #4c4d4f;	
}

.badge-close {
	font-size:120%;
}

.badge-clickable:hover{
	cursor: pointer;
}

.badge:hover .badge-close{
	color: red;
}

.btn {
	border-radius: 0px;
}